<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- user name and pass stored as example: for excecution will be considered as Args-->
		<add key="userName" value="your@mail.com"/>
		<add key="password" value="pass"/>
		<add key="url" value="https://org_name.api.crm4.dynamics.com"/>
	</appSettings>
</configuration>